<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Images"} %>

<%= semantic_form_for([:admin,@product,@special], :url => admin_product_specials_url(@product) , :as => :special)  do |f| %>

    <%= render :partial=>"form", :locals => {:f => f} %>
    <p class="form-buttons">
      <%= button t("actions.create") %>
      <%= t("or") %> <%= link_to t("actions.cancel"), admin_product_specials_url(@product) %>
    </p>


 <% end %>
